name: Build Athos Client

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Make gradlew executable
        run: chmod +x gradlew
        working-directory: AthosClientalpha2

      - name: Build JAR
        run: ./gradlew build
        working-directory: AthosClientalpha2

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: AthosClient
          path: AthosClientalpha2/build/libs/*.jar
